/*------------------- Navbar ---------------------*/
.navbar {
    background-color: #197F64;
}
nav img {
    padding: 10px;
}
/*------------------- Page -----------------------*/
.jumbotron {
    padding-top: 200px;
    background-color: #59BF9F;
}
.container {
    background-color: #ffffff;
}
.well {
    background-color: #D8F6CE;
}
h2 {
    color: #197f64; 
}
.orange {
    background-color: #ff6633;
    color: #ffffff;
}