.jumbotron {
    background-color: #59BF9F;
}
.container {
    background-color: #ffffff;
}
.navbar {
    background-color: #197F64;
}
.well {
    background-color: #D8F6CE;
}
h2 {
    color: #197f64; 
}
.orange {
    background-color: #ff6633;
    color: #ffffff;
}